#languages-block-top {
  float: left;
  position: relative; }
  #languages-block-top span.firstWord {
    display: none; }
  #languages-block-top:hover div.current {
    color: #ff0202; }
  #languages-block-top div.current {
    font-weight: normal;
    padding: 10px 15px;
    padding-left: 0;
    line-height: 30px;
    color: #fff;
    text-shadow: none;
    cursor: pointer;
    font-size: 13px;
    text-transform: capitalize; }
    #languages-block-top div.current strong {
      font-weight: normal; }
    #languages-block-top div.current img {
      margin-right: 5px;
      vertical-align: -1px; }
    #languages-block-top div.current:after {
      content: "\f107";
      font-family: "FontAwesome";
      font-size: 12px;
      line-height: 1;
      padding-left: 7px; }
  #languages-block-top ul {
    display: none;
    background: #fff;
    -webkit-box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    padding: 10px 15px;
    top: 50px;
    left: 0;
    min-width: 150px;
    z-index: 2; }
    #languages-block-top ul li {
      color: #393939;
      line-height: 30px;
      font-size: 13px; }
      #languages-block-top ul li a,
      #languages-block-top ul li > span {
        padding: 0 5px;
        display: inline-block;
        color: #393939; }
      #languages-block-top ul li.selected span, #languages-block-top ul li:hover a {
        color: #ff0202; }
  @media (max-width: 767px) {
    #languages-block-top {
      float: none;
      display: inline-block; } }

/*# sourceMappingURL=blocklanguages.css.map */
