/*******************************************************
Product list Styles
********************************************************/
ul.product_list .availability span {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  padding: 5px 8px 5px 8px;
  margin-bottom: 20px; }
ul.product_list .color-list-container {
  margin: 15px 0;
  display: inline-block;
  width: 100%; }
  ul.product_list .color-list-container ul li {
    display: inline-block;
    border: 1px solid #f2f2f2;
    width: 26px;
    height: 26px; }
    ul.product_list .color-list-container ul li a {
      display: block;
      width: 22px;
      height: 22px;
      margin: 1px; }
      ul.product_list .color-list-container ul li a img {
        display: block;
        width: 22px;
        height: 22px; }
ul.product_list .product-image-container {
  text-align: center; }
  ul.product_list .product-image-container img {
    margin: 0 auto; }
  ul.product_list .product-image-container .quick-view-wrapper-mobile {
    display: none; }
    ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile {
      display: none; }
      @media (max-width: 1199px) {
        ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile {
          display: block;
          position: relative;
          background-color: rgba(208, 208, 211, 0.57);
          height: 130px;
          width: 85px;
          top: 80px;
          right: -162px;
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          zoom: 1;
          pointer-events: all; }
          ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile i {
            position: relative;
            top: 48px;
            left: -20px;
            font-size: x-large;
            color: black; }
          ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile i:before {
            -moz-transform: rotate(315deg);
            -o-transform: rotate(315deg);
            -webkit-transform: rotate(315deg);
            -ms-transform: rotate(315deg);
            transform: rotate(315deg); } }
    @media (max-width: 1199px) {
      ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile:hover {
        background-color: rgba(167, 167, 167, 0.57); } }
    @media (max-width: 1199px) {
      ul.product_list .product-image-container .quick-view-wrapper-mobile {
        display: block;
        background-color: transparent;
        height: 155px;
        width: 215px;
        position: absolute;
        overflow: hidden;
        pointer-events: none;
        bottom: 0px;
        right: 0px; } }
ul.product_list .comments_note {
  text-align: left;
  overflow: hidden; }
  ul.product_list .comments_note .star_content {
    float: left; }
  ul.product_list .comments_note .nb-comments {
    overflow: hidden;
    font-style: italic; }
ul.product_list .functional-buttons div a, ul.product_list .functional-buttons div label {
  font-weight: bold;
  color: #777676;
  cursor: pointer; }
  ul.product_list .functional-buttons div a:hover, ul.product_list .functional-buttons div label:hover {
    color: #000; }
ul.product_list .functional-buttons div.wishlist {
  border-right: 1px solid #f2f2f2; }
  ul.product_list .functional-buttons div.wishlist a:before {
    display: inline-block;
    font-family: "FontAwesome";
    content: "\f08a";
    margin-right: 3px;
    padding: 0 3px; }
  ul.product_list .functional-buttons div.wishlist a.checked:before {
    content: "\f004"; }
  @media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons div.wishlist {
      border-right: 0; }
      ul.product_list .functional-buttons div.wishlist a:before {
        display: none; } }
  @media (min-width: 480px) and (max-width: 767px) {
    ul.product_list .functional-buttons div.wishlist {
      border-right: 0; }
      ul.product_list .functional-buttons div.wishlist a:before {
        display: none; } }
ul.product_list .functional-buttons div.compare a:before {
  content: "\f067";
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 3px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons div.compare a:before {
      display: none; } }
  @media (min-width: 480px) and (max-width: 767px) {
    ul.product_list .functional-buttons div.compare a:before {
      display: none; } }
ul.product_list .functional-buttons div.compare a.checked:before {
  content: "\f068"; }

/*******************************************************
Product list(Grid) Styles
********************************************************/
ul.product_list.grid {
  margin: 0; }
  ul.product_list.grid > li {
    padding: 0; }
    @media (min-width: 480px) and (max-width: 767px) {
      ul.product_list.grid > li {
        width: 50%;
        float: left; } }
    ul.product_list.grid > li .product-container {
      background: #fff;
      margin: 0;
      margin-bottom: 10px;
      position: relative; }
      ul.product_list.grid > li .product-container .product-image-container {
        position: relative; }
        @media (max-width: 767px) {
          ul.product_list.grid > li .product-container .product-image-container {
            margin-left: auto;
            margin-right: auto; } }
      ul.product_list.grid > li .product-container .product-desc {
        display: none; }
      ul.product_list.grid > li .product-container .left-block .price-box {
        display: none; }
      ul.product_list.grid > li .product-container .product-flags {
        display: none; }
      ul.product_list.grid > li .product-container .color-list-container, ul.product_list.grid > li .product-container span.label-success {
        display: none; }
      ul.product_list.grid > li .product-container .button-container {
        margin-bottom: 14px; }
        @media (min-width: 1200px) {
          ul.product_list.grid > li .product-container .button-container {
            display: none; } }
        ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
        ul.product_list.grid > li .product-container .button-container span.button,
        ul.product_list.grid > li .product-container .button-container .lnk_view {
          margin: 0 6px 10px 6px; }
      ul.product_list.grid > li .product-container .functional-buttons {
        background: url(../img/functional-bt-shadow.png) repeat-x;
        padding: 11px 0 5px; }
        @media (min-width: 1200px) {
          ul.product_list.grid > li .product-container .functional-buttons {
            display: none; } }
        ul.product_list.grid > li .product-container .functional-buttons div {
          width: 50%;
          float: left;
          padding: 3px 0 4px 0; }
    @media (min-width: 992px) {
      ul.product_list.grid > li.last-in-line .product-container:before {
        border: 0; }
      ul.product_list.grid > li.first-in-line {
        clear: left; } }
    @media (min-width: 480px) and (max-width: 991px) {
      ul.product_list.grid > li.first-item-of-tablet-line {
        clear: left; }
      ul.product_list.grid > li.last-item-of-tablet-line .product-container:before {
        border: 0; } }
    @media (max-width: 479px) {
      ul.product_list.grid > li .product-container:before {
        border: 0; } }

@media (min-width: 1200px) {
  #blockpack ul > li.last-line {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0; } }
@media (min-width: 480px) and (max-width: 767px) {
  #blockpack ul > li.first-item-of-tablet-line {
    clear: none; }
  #blockpack ul > li.first-item-of-mobile-line {
    clear: left; } }

/*******************************************************
Product list(List) Styles
********************************************************/
@media (max-width: 479px) {
  ul.product_list.list > li .left-block, ul.product_list.list > li .right-block {
    width: 100%;
    padding: 0; } }
ul.product_list.list > li .left-block {
  padding: 0; }
  @media (max-width: 479px) {
    ul.product_list.list > li .left-block {
      margin-bottom: 20px; } }
  ul.product_list.list > li .left-block .actions {
    display: none; }
ul.product_list.list > li .product-container {
  box-shadow: none;
  padding: 30px 0;
  border-bottom: 1px solid #f2f2f2; }
  ul.product_list.list > li .product-container:before {
    display: none; }
  ul.product_list.list > li .product-container .row {
    margin: 0; }
ul.product_list.list > li .product-image-container {
  position: relative; }
  @media (max-width: 479px) {
    ul.product_list.list > li .product-image-container {
      margin: 0 auto; } }
  ul.product_list.list > li .product-image-container .price-box {
    display: none; }
ul.product_list.list > li .product-flags {
  color: #333;
  margin: -5px 0 10px 0; }
  ul.product_list.list > li .product-flags .discount {
    color: #f13340; }
@media (max-width: 479px) {
  ul.product_list.list > li .center-block {
    width: 100%; } }
ul.product_list.list > li .center-block .comments_note {
  margin-bottom: 12px; }
ul.product_list.list > li .right-block .product-contents {
  padding-top: 0;
  text-align: left; }
  @media (min-width: 992px) {
    ul.product_list.list > li .right-block .product-contents {
      margin: 0;
      padding-left: 15px;
      padding-bottom: 0; } }
  @media (max-width: 479px) {
    ul.product_list.list > li .right-block .product-contents {
      padding: 0; } }
  ul.product_list.list > li .right-block .product-contents .price-box {
    display: block;
    position: static;
    padding: 0;
    box-shadow: none; }
    ul.product_list.list > li .right-block .product-contents .price-box .price {
      font-size: 24px; }
    ul.product_list.list > li .right-block .product-contents .price-box .old-price {
      font-size: 15px; }
    ul.product_list.list > li .right-block .product-contents .price-box .price-percent-reduction {
      display: none; }
  ul.product_list.list > li .right-block .product-contents h5.product-name a {
    color: #393939;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    padding: 0;
    margin-bottom: 15px;
    letter-spacing: 0.01em; }
    ul.product_list.list > li .right-block .product-contents h5.product-name a:hover {
      color: #ff0202; }
  ul.product_list.list > li .right-block .product-contents .product-desc {
    font-size: 14px;
    color: #666666;
    line-height: 25px;
    padding: 5px 0;
    margin: 10px 0; }
  ul.product_list.list > li .right-block .product-contents .actions {
    margin: 15px 0;
    display: inline-block;
    width: 100%; }
    ul.product_list.list > li .right-block .product-contents .actions .add-to-links li {
      webkit-animation: none;
      -moz-animation: none;
      -ms-animation: none;
      animation: none;
      opacity: 1; }
      @media (min-width: 480px) and (max-width: 767px) {
        ul.product_list.list > li .right-block .product-contents .actions .add-to-links li.cart {
          width: 100%;
          margin-bottom: 10px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        ul.product_list.list > li .right-block .product-contents .actions .add-to-links li.cart {
          width: 100%;
          margin-bottom: 10px; } }
      ul.product_list.list > li .right-block .product-contents .actions .add-to-links li.cart a.ajax_add_to_cart_button, ul.product_list.list > li .right-block .product-contents .actions .add-to-links li.cart span.ajax_add_to_cart_button {
        width: auto;
        padding: 0 20px;
        border-radius: 30px;
        font-size: 14px; }
        ul.product_list.list > li .right-block .product-contents .actions .add-to-links li.cart a.ajax_add_to_cart_button:before, ul.product_list.list > li .right-block .product-contents .actions .add-to-links li.cart span.ajax_add_to_cart_button:before {
          margin-right: 7px;
          vertical-align: -1px; }
  ul.product_list.list > li .right-block .product-contents .button-container {
    overflow: hidden;
    padding-bottom: 20px; }
    @media (max-width: 479px) {
      ul.product_list.list > li .right-block .product-contents .button-container {
        width: 100%; } }
    ul.product_list.list > li .right-block .product-contents .button-container .btn {
      margin-bottom: 10px; }
      @media (min-width: 992px) {
        ul.product_list.list > li .right-block .product-contents .button-container .btn {
          float: left;
          clear: both; } }
  @media (min-width: 992px) {
    ul.product_list.list > li .right-block .product-contents .functional-buttons {
      overflow: hidden; } }
  @media (max-width: 991px) {
    ul.product_list.list > li .right-block .product-contents .functional-buttons {
      clear: both; }
      ul.product_list.list > li .right-block .product-contents .functional-buttons > div {
        float: left;
        padding-top: 0 !important;
        padding-right: 20px; } }
  @media (max-width: 479px) {
    ul.product_list.list > li .right-block .product-contents .functional-buttons {
      float: none;
      display: inline-block; }
      ul.product_list.list > li .right-block .product-contents .functional-buttons a i, ul.product_list.list > li .right-block .product-contents .functional-buttons a:before, ul.product_list.list > li .right-block .product-contents .functional-buttons label i, ul.product_list.list > li .right-block .product-contents .functional-buttons label:before {
        display: none !important; } }
  ul.product_list.list > li .right-block .product-contents .functional-buttons a {
    cursor: pointer; }
  ul.product_list.list > li .right-block .product-contents .functional-buttons .wishlist {
    border: none; }
  ul.product_list.list > li .right-block .product-contents .functional-buttons .compare {
    padding-top: 10px; }
    ul.product_list.list > li .right-block .product-contents .functional-buttons .compare a:before {
      margin-right: 10px; }

/*******************************************************
Product list(Index page) Styles
********************************************************/
#index ul.product_list.tab-pane > li {
  padding-bottom: 10px;
  margin-bottom: 10px; }
  @media (min-width: 1200px) {
    #index ul.product_list.tab-pane > li {
      padding-bottom: 85px;
      margin-bottom: 0; } }
  #index ul.product_list.tab-pane > li .availability {
    display: none; }
  @media (min-width: 1200px) {
    #index ul.product_list.tab-pane > li.last-line {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0; } }
  @media (min-width: 480px) and (max-width: 767px) {
    #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
      clear: none; }
    #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
      clear: left; } }

/***** IE code *****/
.ie8 .quick-view {
  background: #fff;
  border: 1px solid #f2f2f2; }

/*# sourceMappingURL=product_list.css.map */
