@import "compass";
@import "../../theme_variables";
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
  .sf-menu {
    position: relative;
    > li {
      position: static;
      > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px;
        > li {
          display: block;
          float: left;
          width: 20%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 10px;
        }
        > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%;
          img {
            display: inline-block;
            width: 33%;
          }
        }
      }
      h4 {
        a {
          font-size: 1.1em;
          &:before {
            display: none;
          }
        }
      }
      .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
        box-shadow: none;
        padding: 0;
        left: 0;
      }
    }
    .category_thumb {
      display: none;
    }
  }
}

#categories_block_left {
  .title_block {
		position: relative;
		display:block;
		color:#101010;
		border-bottom:0;
		margin:0;
		text-transform: uppercase;
		font-size:18px;
		font-weight: 900;
		line-height:1;
		margin-bottom:20px;
		padding-bottom:10px;
		&:before {
			content:'';
			width:55px;
			max-width:100%;
			height:2px;
			background:$hover-color;
			position:absolute;
			left:0;
			bottom:-1px;
		}
		span {
			padding:0;
		}
  }
  li {
    position: relative;
    a {
      font-weight: normal;
	  color: #555555;
      display: block;
      font-size: 15px;
	  text-transform:capitalize;
      line-height: 50px;
      padding: 0 30px 0 0;
	  border-bottom:$main_border;
    }
    span.grower {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		font-size: 16px;
		&.OPEN,
		&.CLOSE {
		&:before {
			font-family: 'Material-Design-Iconic-Font';
			content: "\f2fc";
			display: block;
			vertical-align: middle;
			width: 30px;
			height: 50px;
			line-height: 55px;
			text-align: center;
			}
		}
		&.CLOSE:before {
			content: "\f2f9";
		}
    }
    & span.grower:hover + a,
    a:hover,
    a.selected {
      color:$hover-color;
    }
    li {
      a {
        font-weight: normal;
        color: #555555;
		text-transform:capitalize;
		margin:0 10px;
      }
    }
  }
}