@import "compass";
@import "../../theme_variables";
#search_block_top {
	float:right;
	text-align:right;
	padding: 0 25px;
	@media (max-width:$screen-xs-max) {
		text-align: center;
		padding: 0;
		margin-top: 15px;
	}
	#searchbox {
		position:relative;
	}
	.btn.button-search {
	    background:#8abe26;
		display: inline-block;
		border: none;
		border-bottom:1px solid #68901e;
		color: $light-text-color;
		text-align: center;
		line-height:30px;
		height:30px;
		padding: 0 10px;
		text-transform:capitalize;
		font-weight:700;
		@include pos-radius;
		font-size:14px;
		@include pos-transition(300ms);
		span {
		}
		&:hover {
			opacity:0.7;
			@include pos-transition(300ms);
		}
		&:active {
			box-shadow: none;
		}
	}
	#search_query_top {
		display: inline-block;
		width:100%;
		max-width:200px;
		padding: 5px;
		height:30px;
		z-index:1;
		color: #888888;
		background:$light-background;
		border:$main-border;
		margin-bottom:5px;
		vertical-align:top;
		@include pos-transition(300ms);
		&:focus {
			box-shadow:none;
		}
	}

}

.ac_results {
	background: $light-background;
	border:$main_border !important;
	margin-top: -1px;
	li {
		padding:  10px 5px !important;
		cursor:pointer;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;
		}
	}
}

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.button.button-small {
		float:left;
		i {
			margin-right:0;
		}
	}
}
