.pos-bestsellers {
  margin-bottom: 80px; }
  .pos-bestsellers .pos-title {
    margin-bottom: 35px; }
    .pos-bestsellers .pos-title h2 {
      font-size: 20px; }
  .pos-bestsellers .item-product {
    padding: 10px 0;
    margin-bottom: 30px; }
    .pos-bestsellers .item-product:before {
      display: none; }
    .pos-bestsellers .item-product:last-child {
      margin: 0; }
    .pos-bestsellers .item-product .products-inner {
      float: left;
      width: 125px;
      margin-right: 20px; }
      @media (max-width: 360px) {
        .pos-bestsellers .item-product .products-inner {
          width: 120px; } }
      @media (max-width: 320px) {
        .pos-bestsellers .item-product .products-inner {
          width: 90px; } }
    .pos-bestsellers .item-product .product-contents {
      display: block;
      width: auto;
      overflow: hidden;
      padding: 25px 0 0 0;
      position: relative; }
      .pos-bestsellers .item-product .product-contents .actions {
        position: absolute;
        background: #fff;
        left: 0;
        right: 0;
        top: 40px;
        bottom: 0;
        padding-top: 10px;
        opacity: 0;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        transition: all 300ms linear; }
      @media (max-width: 360px) {
        .pos-bestsellers .item-product .product-contents {
          padding: 10px 0 0 0; }
          .pos-bestsellers .item-product .product-contents .actions {
            top: 25px; } }
    .pos-bestsellers .item-product:hover .actions {
      opacity: 1;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }
  .pos-bestsellers .owl-buttons > div {
    top: 0;
    margin-top: -60px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #a2a2a2;
    background: transparent;
    opacity: 1; }
    .pos-bestsellers .owl-buttons > div.owl-prev {
      left: auto !important;
      right: 30px; }
    .pos-bestsellers .owl-buttons > div.owl-next {
      right: 0 !important; }
    .pos-bestsellers .owl-buttons > div:before {
      font-size: 24px; }

.pos-bestsellers-product .title_block:after {
  display: none; }
.pos-bestsellers-product .item-product {
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: 0; }
  .pos-bestsellers-product .item-product:before {
    display: none; }
  .pos-bestsellers-product .item-product:last-child {
    margin: 0; }
  .pos-bestsellers-product .item-product .products-inner {
    float: left;
    width: 90px;
    margin-right: 20px; }
  .pos-bestsellers-product .item-product .product-contents {
    overflow: hidden;
    width: auto;
    display: block;
    padding: 0;
    text-align: left; }
    @media (min-width: 768px) and (max-width: 991px) {
      .pos-bestsellers-product .item-product .product-contents {
        display: inline-block;
        width: 100%;
        overflow: visible;
        padding-top: 10px; } }
    .pos-bestsellers-product .item-product .product-contents .price-box .price-percent-reduction {
      display: none; }
    .pos-bestsellers-product .item-product .product-contents h5.product-name a {
      font-size: 13px; }

/*# sourceMappingURL=posbestsellers.css.map */
