@import "compass";
@import "../../theme_variables";
#languages-block-top {
	float: left;
	position: relative;
	span.firstWord {
		display: none;
	}
	&:hover 	div.current {
		color:$hover-color;
	}
	div.current {
		font-weight: normal;
		padding:10px 15px;
		padding-left:0;
		line-height:30px;
		color:$light-text-color;
		text-shadow:none;
		cursor: pointer;
		font-size:13px;
		text-transform:capitalize;
		strong {
			font-weight: normal;
		}
		img {
			margin-right:5px;
			vertical-align:-1px;
		}
		&:after {
			content: "\f107";
			font-family: $font-icon;
			font-size: 12px;
			line-height: 1;
			padding-left: 7px;
		}
	}
	ul {
		display: none;
		background:$light-background;
		@include nav-box-shaw;
		@include pos-radius;
		position: absolute;
		padding:10px 15px;
		top: 50px;
		left:0;
		min-width: 150px;
		z-index: 2;
		li {
			color:#393939;
			line-height: 30px;
			font-size: 13px;
			a,
			> span {
				padding: 0 5px;
				display: inline-block;
				color: #393939;
			}
			&.selected span, &:hover a {
				color:$hover-color;
			}
			
		}
	}
	@media (max-width:$screen-xs-max) {
		float:none;
		display:inline-block;
	
	}
}