.tab-category-container-slider {
  background: #eeeeee;
  padding: 80px 0; }
  @media (max-width: 767px) {
    .tab-category-container-slider {
      padding: 30px 0; } }
  .tab-category-container-slider .tab-category {
    background: #fff; }
  .tab-category-container-slider .pos_tab {
    background: #eee;
    display: inline-block;
    width: 100%; }
  .tab-category-container-slider .tab_cates {
    float: right; }
    .tab-category-container-slider .tab_cates li {
      position: relative;
      display: inline-block;
      line-height: 18px;
      padding-bottom: 15px;
      margin: 0 20px;
      text-transform: capitalize;
      cursor: pointer;
      color: #101010;
      border-bottom: 2px solid transparent;
      font-size: 15px;
      font-weight: 400;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }
      @media (min-width: 1200px) {
        .tab-category-container-slider .tab_cates li {
          padding-top: 18px; } }
      .tab-category-container-slider .tab_cates li.active {
        font-weight: 700;
        border-color: #ff0202;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        transition: all 300ms linear; }
      .tab-category-container-slider .tab_cates li:hover {
        border-color: #ff0202;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        transition: all 300ms linear; }
      .tab-category-container-slider .tab_cates li:last-child {
        margin-right: 0; }
    @media (max-width: 991px) {
      .tab-category-container-slider .tab_cates {
        margin: 0;
        float: none;
        display: inline-block;
        width: 100%;
        margin-top: 10px; }
        .tab-category-container-slider .tab_cates li:first-child {
          margin-left: 0; } }
    @media (max-width: 767px) {
      .tab-category-container-slider .tab_cates li {
        margin-bottom: 10px; } }
    @media (max-width: 479px) {
      .tab-category-container-slider .tab_cates li {
        margin-left: 0;
        margin-right: 0;
        float: left;
        clear: both; } }
  .tab-category-container-slider .productTabCategorySlider_left .item-product {
    padding: 30px;
    padding-bottom: 15px; }
    .tab-category-container-slider .productTabCategorySlider_left .item-product:before {
      display: none; }
    .tab-category-container-slider .productTabCategorySlider_left .item-product .price-box .price-percent-reduction {
      display: block;
      top: 20px;
      left: 20px; }
    @media (min-width: 992px) {
      .tab-category-container-slider .productTabCategorySlider_left .item-product .actions {
        position: absolute;
        bottom: 25px;
        right: 30px;
        margin: 0; } }
  .tab-category-container-slider .row {
    margin: 0; }
    .tab-category-container-slider .row .col {
      padding: 0; }
      .tab-category-container-slider .row .col:hover {
        z-index: 2; }
      .tab-category-container-slider .row .col:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-right: 1px solid #f2f2f2;
        pointer-events: none;
        -webkit-transition: all 500ms linear;
        -moz-transition: all 500ms linear;
        -ms-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear; }
      .tab-category-container-slider .row .col:last-child:before {
        display: none; }
      .tab-category-container-slider .row .col:hover:first-child:before {
        opacity: 0;
        -webkit-transition: all 500ms linear;
        -moz-transition: all 500ms linear;
        -ms-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear; }
      @media (max-width: 991px) {
        .tab-category-container-slider .row .col {
          border-bottom: 1px solid #f2f2f2; } }
  @media (min-width: 1200px) {
    .tab-category-container-slider .productTabCategorySlider_right .item-product {
      min-height: 300px; } }
  .tab-category-container-slider .productTabCategorySlider_right .item-product:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #f2f2f2;
    bottom: 0;
    right: 0;
    left: 0; }
  .tab-category-container-slider .productTabCategorySlider_right .item-product .products-inner {
    float: left;
    width: 45%;
    margin-right: 20px; }
    @media (max-width: 360px) {
      .tab-category-container-slider .productTabCategorySlider_right .item-product .products-inner {
        margin: 0 0 10px 0;
        width: 100%; } }
  .tab-category-container-slider .productTabCategorySlider_right .item-product .product-contents {
    display: block;
    width: auto;
    overflow: hidden; }
    @media (max-width: 360px) {
      .tab-category-container-slider .productTabCategorySlider_right .item-product .product-contents {
        overflow: visible;
        display: inline-block;
        width: 100%; } }
    .tab-category-container-slider .productTabCategorySlider_right .item-product .product-contents .product-desc {
      font-size: 14px;
      color: #666666;
      line-height: 25px;
      margin-top: 15px;
      max-width: 90%; }
  .tab-category-container-slider .productTabCategorySlider_right .owl-buttons > div {
    top: auto;
    margin-top: 0;
    bottom: -45px;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 0;
    background: transparent;
    color: #a2a2a2;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear; }
    .tab-category-container-slider .productTabCategorySlider_right .owl-buttons > div i {
      display: none; }
    .tab-category-container-slider .productTabCategorySlider_right .owl-buttons > div:before {
      font-size: 24px; }
    .tab-category-container-slider .productTabCategorySlider_right .owl-buttons > div.owl-prev {
      right: 45px;
      left: auto; }
    .tab-category-container-slider .productTabCategorySlider_right .owl-buttons > div.owl-next {
      right: 20px; }
    .tab-category-container-slider .productTabCategorySlider_right .owl-buttons > div:hover {
      color: #ff0202;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }
    @media (max-width: 1199px) {
      .tab-category-container-slider .productTabCategorySlider_right .owl-buttons > div {
        display: none; } }

/*# sourceMappingURL=postabcateslider.css.map */
