.ma-nivoslider {
  overflow: hidden; }
  .ma-nivoslider .pos-loading {
    background: #ECECEC;
    position: relative;
    width: 100%; }
    .ma-nivoslider .pos-loading span {
      width: 32px;
      height: 32px;
      position: absolute;
      z-index: 99;
      background: url("loader.gif") no-repeat center #fff;
      top: 50%;
      left: 50%;
      right: 50%;
      bottom: 50%;
      margin: -16px 0 0 -16px; }

.nivoSlider {
  position: relative;
  width: 100%;
  /* If an image is wrapped in a link */ }
  .nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none; }
  .nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: white;
    filter: alpha(opacity=0);
    opacity: 0; }

.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important; }

/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0; }

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden; }
  .nivo-box img {
    display: block; }

/* Caption styles */
.nivo-html-caption {
  display: none; }

@-webkit-keyframes myfirst {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes myfirst {
  from {
    width: 0; }
  to {
    width: 100%; } }
.timethai.pos_hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

/* slideshow edit */
.pos-slideshow {
  position: relative;
  margin-bottom: 50px; }
  .pos-slideshow:hover .nivo-directionNav a {
    opacity: 1;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear; }
  .pos-slideshow .nivo-directionNav a {
    display: block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 100%;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 24px;
    position: absolute;
    z-index: 8;
    cursor: pointer;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear; }
    @media (max-width: 1199px) {
      .pos-slideshow .nivo-directionNav a {
        width: 5.37109vw;
        height: 5.37109vw;
        line-height: 5.37109vw;
        font-size: 1.95313vw; } }
    @media (max-width: 767px) {
      .pos-slideshow .nivo-directionNav a {
        display: none; } }
    .pos-slideshow .nivo-directionNav a.nivo-prevNav {
      left: 20px; }
      @media (max-width: 1199px) {
        .pos-slideshow .nivo-directionNav a.nivo-prevNav {
          left: 0; } }
    .pos-slideshow .nivo-directionNav a.nivo-nextNav {
      right: 20px; }
      @media (max-width: 1199px) {
        .pos-slideshow .nivo-directionNav a.nivo-nextNav {
          right: 0; } }
    .pos-slideshow .nivo-directionNav a:hover {
      background: #ff0202;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }
  .pos-slideshow .nivo-controlNav {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 8; }
    @media (max-width: 1199px) {
      .pos-slideshow .nivo-controlNav {
        bottom: 2.92969vw; } }
    @media (max-width: 767px) {
      .pos-slideshow .nivo-controlNav {
        display: none; } }
    .pos-slideshow .nivo-controlNav a {
      display: inline-block;
      height: 10px;
      border-radius: 100%;
      font-size: 0;
      width: 10px;
      margin: 0 4px;
      text-align: center;
      cursor: pointer;
      position: relative;
      z-index: 8;
      background: #48475a;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }
      .pos-slideshow .nivo-controlNav a.active, .pos-slideshow .nivo-controlNav a:hover {
        background: #ff0202; }

.pos-slideshow-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 6;
  text-align: left;
  direction: ltr;
  line-height: 1;
  font-weight: 400;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .pos-slideshow-content p {
    margin: 0; }

.desc1, .desc2 {
  max-width: 50%;
  -webkit-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important; }
  .desc1 .title1, .desc2 .title1 {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    text-transform: capitalize;
    font-weight: 600; }
    .desc1 .title1 span, .desc2 .title1 span {
      color: #ff0202; }
  .desc1 .title2, .desc2 .title2 {
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 1.2; }
  .desc1 .title3, .desc2 .title3 {
    position: relative;
    margin: 0 0 20px 0;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    line-height: 25px;
    max-width: 90%; }
    .desc1 .title3 span, .desc2 .title3 span {
      color: #ff0202; }
  .desc1 .readmore a, .desc2 .readmore a {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    position: relative;
    font-size: 14px;
    color: #141414;
    line-height: 42px;
    padding: 0 25px;
    text-transform: uppercase;
    background: #fff;
    border-radius: 30px;
    font-weight: normal;
    display: inline-block; }
    .desc1 .readmore a:before, .desc2 .readmore a:before {
      font-family: 'Material-Design-Iconic-Font';
      display: inline-block;
      font-size: 18px;
      content: "\f1cb";
      margin-right: 10px;
      vertical-align: middle; }
    .desc1 .readmore a:hover, .desc2 .readmore a:hover {
      background: #ff0202;
      color: #fff;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }

@media (max-width: 1199px) {
  .desc1 .title1, .desc2 .title1 {
    font-size: 1.75781vw; }
  .desc1 .title2, .desc2 .title2 {
    font-size: 2.92969vw;
    margin: 0 0 1.95313vw 0; }
  .desc1 .title3, .desc2 .title3 {
    font-size: 1.75781vw;
    margin: 0 0 1.95313vw 0;
    line-height: 2.44141vw; }
  .desc1 .readmore a, .desc2 .readmore a {
    font-size: 1.36719vw;
    line-height: 3.41797vw;
    border-radius: 1.95313vw;
    padding: 0 1.95313vw; }
    .desc1 .readmore a:before, .desc2 .readmore a:before {
      font-size: 1.75781vw; } }
@media (max-width: 767px) {
  .desc1 .title1, .desc2 .title1 {
    font-size: 3.25945vw; }
  .desc1 .title2, .desc2 .title2 {
    font-size: 3.25945vw;
    margin: 0 0 1.30378vw 0; }
  .desc1 .title3, .desc2 .title3 {
    font-size: 1.82529vw;
    margin: 0 0 1.30378vw 0;
    line-height: 3.25945vw;
    max-width: 85%; }
  .desc1 .title4, .desc2 .title4 {
    position: relative;
    margin: 0 0 1.30378vw 0;
    font-size: 1.82529vw;
    line-height: 3.25945vw; }
    .desc1 .title4 span, .desc2 .title4 span {
      font-size: 2.60756vw; }
  .desc1 .readmore a, .desc2 .readmore a {
    font-size: 1.82529vw;
    line-height: 4.56323vw;
    padding: 0 1.95567vw; }
    .desc1 .readmore a:before, .desc2 .readmore a:before {
      font-size: 2.60756vw; } }
@media (max-width: 480px) {
  .desc1 .title1, .desc2 .title1 {
    font-size: 2.91667vw; }
  .desc1 .title2, .desc2 .title2 {
    font-size: 2.91667vw;
    margin: 0 0 1.04167vw 0; }
  .desc1 .title3, .desc2 .title3 {
    font-size: 2.91667vw;
    margin: 0 0 1.04167vw 0;
    line-height: 5.20833vw;
    max-width: 85%;
    display: none; }
  .desc1 .title4, .desc2 .title4 {
    position: relative;
    margin: 0 0 1.04167vw 0;
    font-size: 2.91667vw;
    line-height: 5.20833vw; }
    .desc1 .title4 span, .desc2 .title4 span {
      font-size: 3.33333vw; }
  .desc1 .readmore a, .desc2 .readmore a {
    font-size: 2.5vw;
    line-height: 5.20833vw;
    padding: 0 2.08333vw; }
    .desc1 .readmore a:before, .desc2 .readmore a:before {
      font-size: 2.08333vw; } }

/*# sourceMappingURL=nivo-slider.css.map */
