.header_userinfo {
  float: left; }
  .header_userinfo .top-userinfo {
    display: inline-block;
    position: relative; }
    .header_userinfo .top-userinfo:hover .top-links {
      color: #ff0202; }
    .header_userinfo .top-userinfo .top-links {
      font-weight: normal;
      padding: 10px 15px;
      line-height: 30px;
      color: #fff;
      text-shadow: none;
      cursor: pointer;
      font-size: 13px;
      text-transform: capitalize; }
      .header_userinfo .top-userinfo .top-links strong {
        font-weight: normal; }
      .header_userinfo .top-userinfo .top-links:after {
        content: "\f107";
        font-family: "FontAwesome";
        font-size: 12px;
        line-height: 1;
        padding-left: 7px; }
    .header_userinfo .top-userinfo ul {
      display: none;
      background: #fff;
      -webkit-box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      position: absolute;
      padding: 10px 15px;
      text-transform: capitalize;
      top: 50px;
      left: 0;
      min-width: 150px;
      z-index: 2; }
      .header_userinfo .top-userinfo ul li {
        color: #393939;
        line-height: 30px;
        font-size: 13px; }
        .header_userinfo .top-userinfo ul li a,
        .header_userinfo .top-userinfo ul li > span {
          padding: 0 5px;
          display: inline-block;
          color: #393939; }
        .header_userinfo .top-userinfo ul li.selected a, .header_userinfo .top-userinfo ul li:hover a {
          color: #ff0202; }
  @media (max-width: 767px) {
    .header_userinfo {
      float: none;
      display: inline-block !important; } }

.header_user_top {
  float: right; }
  @media (max-width: 767px) {
    .header_user_top {
      float: none; } }
  @media (min-width: 992px) {
    .header_user_top {
      position: absolute;
      bottom: -90px;
      right: 60px; } }
  .header_user_top a {
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 0;
    line-height: 60px;
    text-align: center;
    color: #fff; }
    .header_user_top a:hover {
      color: #ff0202; }
    .header_user_top a:before {
      font-family: 'Material-Design-Iconic-Font';
      display: inline-block;
      font-size: 22px;
      content: "\f1c9"; }
    .header_user_top a.wishlist_block:before {
      content: "\f15e"; }
    .header_user_top a.Compare_block:before {
      content: "\f1b9"; }

/*# sourceMappingURL=blockuserinfo.css.map */
