#categories_block_top {
  clear: both;
  position: relative;
  top: 30px; }
  #categories_block_top .sf-menu {
    position: relative; }
    #categories_block_top .sf-menu > li {
      position: static; }
      #categories_block_top .sf-menu > li > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px; }
        #categories_block_top .sf-menu > li > ul > li {
          display: block;
          float: left;
          width: 20%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 10px; }
        #categories_block_top .sf-menu > li > ul > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%; }
          #categories_block_top .sf-menu > li > ul > .category_thumb img {
            display: inline-block;
            width: 33%; }
      #categories_block_top .sf-menu > li h4 a {
        font-size: 1.1em; }
        #categories_block_top .sf-menu > li h4 a:before {
          display: none; }
      #categories_block_top .sf-menu > li .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
        box-shadow: none;
        padding: 0;
        left: 0; }
    #categories_block_top .sf-menu .category_thumb {
      display: none; }

#categories_block_left .title_block {
  position: relative;
  display: block;
  color: #101010;
  border-bottom: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 20px;
  padding-bottom: 10px; }
  #categories_block_left .title_block:before {
    content: '';
    width: 55px;
    max-width: 100%;
    height: 2px;
    background: #ff0202;
    position: absolute;
    left: 0;
    bottom: -1px; }
  #categories_block_left .title_block span {
    padding: 0; }
#categories_block_left li {
  position: relative; }
  #categories_block_left li a {
    font-weight: normal;
    color: #555555;
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 50px;
    padding: 0 30px 0 0;
    border-bottom: 1px solid #f2f2f2; }
  #categories_block_left li span.grower {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 16px; }
    #categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before {
      font-family: 'Material-Design-Iconic-Font';
      content: "\f2fc";
      display: block;
      vertical-align: middle;
      width: 30px;
      height: 50px;
      line-height: 55px;
      text-align: center; }
    #categories_block_left li span.grower.CLOSE:before {
      content: "\f2f9"; }
  #categories_block_left li span.grower:hover + a,
  #categories_block_left li a:hover,
  #categories_block_left li a.selected {
    color: #ff0202; }
  #categories_block_left li li a {
    font-weight: normal;
    color: #555555;
    text-transform: capitalize;
    margin: 0 10px; }

/*# sourceMappingURL=blockcategories.css.map */
